@import url(//fonts.googleapis.com/css?family=Vibur);
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

/* body and section styles*/
body {
  background-color: aliceblue;
  font-family: "Oswald", sans-serif;
}

section {
  padding-top: 20px;
  color: white;
}

/*header styles*/

.headerContainer {
  display: flex;
  
}
.headerText {
  display: flex;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  justify-content: center;
}

header > * {
  border: 10px solid black;
}

.headerContainer > * {
  border: 10px solid white;
}

/* Logo Text Colors */
/* pink color */
#pink {
  color: #d61c5b;
}

/* red color*/
#red {
  color: #f1573f;
}

/* yellow color */
#yellow {
  color: #feb213;
}

/* green color */
#green {
  color: #6abc4e;
}

/* View Cart bluecolor */
#blue {
  color: #2599d8;
}

/*footer styles*/
footer {
    color: black;
    text-align: center;
}

/*search form styles */
.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2599d8;
  margin: 20px auto;
  border-radius: 10px;
  border: 2px #176087 solid;
  font-size: 18px;
}

input[type=submit] {
  font-family: "Oswald", sans-serif;
  background-color: #feb213;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  margin-right: 5px;
}
.radiodiv {
  display: flex;
}
.radiodiv > div {
  margin-right: 10px;
}